.like-button.clicked i {
    color: red;
}

.save-button.clicked i {
    color: red;
}
.like-heart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
}

.like-heart.active {
    mix-blend-mode: revert;
    color: red;
}
body {
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
}

/* Стили для формы */
#post-form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#post-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#post-form input[type="file"],
#post-form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#send_btn_post {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#send_btn_post:hover {
    background-color: #3e8e41;
}
#splash-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}